#map {
    height: 400px;
    width: 800px;
    padding: 15px, 0px, 0px, 15px;
    margin: auto;
   }





body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 100vh;
}
header {
background-image: linear-gradient(black, #555);
color: #fff;
text-align: center;
padding: 10px;
}
nav {
display: flex;
justify-content: center;
background-color: #555;
padding: 10px;
}
nav a {
color: #fff;
text-decoration: none;
padding: 5px 10px;
margin: 0 10px;
border: 1px solid #fff;
}
nav a:hover {
background-color: #fff;
color: #333;
}
.content {
flex-grow: 1;
padding: 50px;
text-align: center;

}
